body {
  background-image: url("images/gray_background.png"), url("images/guitar.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  text-align: left;
  padding-left: 52%;
  padding-right: 3%;
  font-family: "Myriad Web Pro", sans-serif;
  color: #fff;
}

h1 {
	font-weight: normal;
	font-size: 72px;
}

hr {
	width: 50%;
	padding-left: 52%;
	margin-right: 12px;
}

p {
	font-size: 24px;
	line-height: 165%;
}

ul {
	margin-top: -6px;
}

li {
	font-size: 24px;
	line-height: 175%;
}

a {
	text-decoration: none;
	color: #ff0000;
}

/* IDs */

#slogan {
	font-weight: normal;
	margin-top: -36px;
	font-size: 36px;
	line-height: 120%;
	font-style: italic;
}