@import url(https://fonts.googleapis.com/css?family=Forum);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-image: url("../images/guitar.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

#wrapper {
	width: 50%;
	background-color: rgba(0,0,0,.7);
	margin-left: 50%;
	height: auto;
	/*height: 100vh;*/
	/*min-height: 100%;*/
	padding: 1em 2.5em; 
}

h1 {
	font-family: Forum;
	font-weight: normal;
	font-size: 4.75em;
	line-height: 100%;
	margin-top: .25em;
}

h2 {
	/*font-weight: normal;*/
	font-size: 1.5em;
}

main ul {
	list-style-type: square;
	padding-left: 2.5em;
}

main li {
	font-size: 1.25em;
	line-height: 180%;
	margin-bottom: .5em;
}

nav ul {
	list-style-type: none;
	/*border-bottom: 1px white solid;*/
}

nav ul li {
	float: left;
	font-size: 1.25em;
	margin-right: 1.75em;
}

nav ul li a {
	display: inline-block;
	padding: .5em .5em .5em .25em;
} 

nav ul li a:link {
	text-decoration: none;
	color: white;
}

nav ul li a:hover {
	color: #ff4e00;
/*	background-color: #909090;*/
}

p {
	font-size: 1.25em;
	line-height: 180%;
	margin-bottom: .75em;
}

a {
	text-decoration: none;
}

#slogan {
	font-size: 1.75em;
	line-height: 120%;
	margin-top: .5em;
}

.cta a {
	display: inline-block;
	font-size: 1.5em;
	background-color: #ff4e00;
	color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: .75em 2.5em;
}

.cta a:hover {
	background-color: #d3845a;
}

footer {
}

#copyright {
	font-size: 1.25em;
	font-weight: 500;
	border-top: 1px white solid;
	padding-top: 1em;
	margin-top: 3em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1200px) {
	#wrapper {
		width: auto; 
		margin-left: 33.33%;
	}
}

@media only screen and (max-width: 786px) {
	#wrapper {
		width: auto; 
		margin-left: 25%;
	}

	body {
		font-size: .75em;
	}
}

@media only screen and (max-width: 360px) {
	#wrapper {
		width: auto; 
		margin-left: 10%;
		padding: .5em 1em; 
	}


}